@model CuentaDolarModel
@{
    ViewData["Title"] = "BorrarCuentaDolar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        <h5>Eliminar cuenta en dolares</h5>
    </div>
    <div class="card-body">
        <form asp-action="BorrarCuentaDolarAction" asp-controller="Home" method="post">
            <input asp-for="Id" type="hidden" class="form-control" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar la cuenta : @Html.DisplayTextFor(m => m.NumeroCuenta)?
            </div>

            <button type="submit" class="btn btn-primary">Borrar</button>

            <a asp-action="CuentasDolar" asp-controller="Home" class="btn btn-secondary">Volver</a>
        </form>
    </div>
</div>

