@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="card text-center">
    <div class="card-header">
        <h5>Bienvenido</h5>
    </div>
    <div class="card-body">
        <a asp-action="Login" asp-controller="Home" class="btn btn-primary">Iniciar sesión</a>

        <a asp-action="Registro" asp-controller="Home" class="btn btn-primary">Registrarse</a>
    </div>
</div>