@model ClienteModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center">
    <div class="card-header">
        <h5>Iniciar sesión</h5>
    </div>
    <div class="card-body">
        <form asp-action="LoginAction" asp-controller="Home" method="post">

            <div class="mb-3 input-group">
                <label class="form-label input-group-text">Usuario</label>
                <input asp-for="Usuario" type="text" class="form-control"/>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>

            <div class="mb-3 input-group">
                <label class="form-label input-group-text">Contraseña</label>
                <input asp-for="Contrasenia" type="password" class="form-control"/>
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar sesion</button>

            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Volver</a>
        </form>
    </div>
</div>