@model List<RegistroMovimientoModel>
@{
    ViewData["Title"] = "MovimientosPeso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card text-center" >
    <div class="card-header">
        <h5>Movimientos de cuentas en pesos</h5>
    </div>
    <div class="card-body">
        <a asp-action="CuentasPeso" asp-controller="Home" class="btn btn-secondary" asp-route-id="@ViewBag.CuentaPeso.Id">Volver</a>
        <br /><br /><br />
        <table class="table d-lg-table table-responsive table-hover" align="center">
            <thead>
                <tr>
                    <th>Numero de cuenta</th>
                    <th>Fecha</th>
                    <th>Movimientos</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.NumeroCuenta</td>
                        <td>@item.Fecha</td>
                        <td>@item.Movimiento</td>
                    </tr>   
                }
            </tbody>
        </table>
    </div>
</div>

