@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-body">
            <div class="alert alert-primary" role="alert">
                <h1>Este sitio es creado como un trabajo practico para Softtek Evaluación Academia .NET Junio 2022</h1>
            </div>
    </div>
</div>
